@tailwind base;
@tailwind components;
@tailwind utilities;

.ui.fixed.menu {
  background: white;
}

.ui.menu {
  margin: 0;
}

.ui.menu > .item.active.computer-only {
  display: block;
}

.pushable {
  overflow: hidden !important;
  padding-bottom: 20px !important;
}

.pushable > .pusher {
  overflow: auto !important;
}

@media only screen and (max-width: 1200px) {
  .ui.menu > .item.computer-only {
    display: none;
  }
}

@media only screen and (min-width: 1201px) {
  .ui.menu > .item.not-computer {
    display: none;
  }
}

canvas {
  width: 100% !important;
}
