<div class="flex flex-col">
  <Ui::Heading>
    {{@title}}
    {{if this.period (concat '(' this.period ')')}}
  </Ui::Heading>
  <div class="h-96 relative w-full">
    <EmberChart @type="line" @data={{this.chartData}} @height="100%" />
  </div>
</div>