<div class="flex flex-col items-center" ...attributes>
  <div class="text-2xl text-sky-600 lg:text-4xl">
    {{#if @isLoading}}
      <Ui::Spinner />
    {{else}}
      {{@value}}
    {{/if}}
  </div>
  <div class="text-sm text-center lg:text-xl">
    {{@title}}
  </div>
</div>