<div class="ui fixed tiny secondary pointing menu">

  {{#link-to 'index' class="item"}}<i class="home icon"></i> {{/link-to}}
  {{#each cities as |city|}}
    {{link-to city.name 'city' city.id class="item"}}
  {{/each}}

</div>

<div>
  {{outlet}}
</div>
