<div class="flex flex-col gap-3 lg:flex-row">
  <IndexChart
    @title="Сейчас"
    @autoUpdate={{true}}
    class={{cn "aspect-square w-full" "lg:aspect-[4/3] lg:flex-1"}}
  />
  <IndexChart
    @title="Максимум за год"
    @period={{365}}
    class={{cn "aspect-square w-full" "lg:aspect-[4/3] lg:flex-1"}}
  />
</div>