<div class="ui two column stackable grid">
  <div class="column">
    <IndexChart @title="Сейчас" @autoUpdate={{true}} />
  </div>
  <div class="column">
    <IndexChart @title="Максимум за год" @period={{365}} />
  </div>
</div>